

body{
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
    margin-top: 63px;
    height: 100%; 
  }

  body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

